.mainlayout {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: "Microsoft YaHei" !important;
}

.top {
    position: absolute;
    font-family: "Microsoft YaHei" !important;
}

.midleftside {
    float: left;
    margin-top: 70px;
    padding-right: 10px;
    width: 25%;
    font-family: "Microsoft YaHei" !important;
}

.midrightside {
    float: right;
    margin-top: 70px;
    padding-left: 20px;
    width: 75%;
    font-family: "Microsoft YaHei" !important;
}

.bottom {
    width: 100%;
    float: left;
    font-family: "Microsoft YaHei" !important;
}

.datebtn {
    margin-Left: 15px;
    font-family: "Microsoft YaHei" !important;
}

.mainTable {
    margin-top: 20px;
    font-family: "Microsoft YaHei" !important;
}

.lefttable {
    width: 100%;
    float: left;
    font-family: "Microsoft YaHei" !important;
}

.righttable {
    width: 33%;
    float: left;
    font-family: "Microsoft YaHei" !important;
}